{% extends 'recipes/base.html' %}
{% block content %}
    <div class="reci">ABOUT PAGE</div>
    <div class="about">
     <p><br>Hey, we are very pleased that you found our website! This website was created for students, people who want to start cooking cheaply, but do not know how to go about it. Each of the recipes was created by our community, which you can join simply by registering on the website - REGISTER IN. After creating your own account, you are able to create recipes yourself and share them with others! Each of the recipes can be assigned to one of 5 categories, because it makes it easier for users to find strikte recipes for a party, for example! Additionally, each recipe is assigned to one of three difficulty levels, which will help you find a recipe especially for you!
Our website is constantly evolving, we are trying to add newer and newer features and listen to the opinions of our community!<br>
We hope this page will help you as well! Without prolonging it - GOOD LUCK with your cooking !!!<br>
Bon Appetit! <br>
Smacznego!<br>
        Enjoy your meal!<br> :) </p></div>
{% endblock content %}
