{% extends 'recipes/base.html' %}
{% block content %}
    <div class="reci">Author: {{ view.kwargs.username }} <br> Total recipes: {{ page_obj.paginator.count }}</div>
    {% for recipe in recipes %}
        {% if forloop.first %}
            <div class="row">{% endif %}
    <div class="col-md-4">
        <article class="media content-section">
            <div class="box">
                <div class="image">
                    <img class="article-img" src="{{ recipe.image.url }}">
                </div>
                <div class="media-body">
                    <div class="text">
                        <div class="article-metadata">
                            <a class="mr-2" href="{% url 'user-recipes' recipe.author.username %}">{{ recipe.author }}</a>
                            <small class="text-muted">{{ recipe.dateAdded|date:"F d, Y" }}</small>
                        </div>
                    <a class="article-title font-weight-bold" href="{% url 'recipe-detail' recipe.id %}">{{ recipe.recipeName }}</a>
                    <p class="article-content">{{ recipe.description }}</p>
                </div>
            </div>
        </article>
    </div>
    {% if forloop.counter|divisibleby:3 %}</div>
        <div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}


