{% extends "recipes/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">Change password</h2>
            <p class="text-secondary">Enter your email to reset</p>
        </div>
    </div>
    <form action="." method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="mb-4"> {{ form|crispy}}
            </div>
        </div>
        <button type="submit" class="login">Send Email</button>
    </form>
</div>
{% endblock %}