{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="login" type="submit">Update</button>
            </div>
        </form>
         <div>
             <button class="login" type="button" onClick="location.href='{% url 'changePassword' %}'">Change Password
             </button>
        </div>
        <div>
             <button class="login" type="button" onClick="location.href='{% url 'deleteAccount' %}'">Delete Account
             </button>
        </div>
    </div>
{% endblock content %}