body{
	width:100%;
	height: 100%;
	position: absolute;
}

.banner{
	width: 100%;
	min-height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(5.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.navbar{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #006b1b;
	padding: 20px 20px;
}

.logo{
	width: 20%;
	cursor: pointer;
	color: white;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	padding: 10px;
}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: black;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li:hover::after{
	width: 100%;
}

.content{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	display: flex;
	text-align: center;
	color: black;
	margin-top: 5%;
}

img {
    display: block;
    max-width: 20%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

p {
	color:black;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.logout {
	background: white;
	color: black;
	width: 100%;
	height: 100%;
	border: black;
	border-radius: 25px;
}


.button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid green;
	background: transparent;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid green;
	background: transparent;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.login {
	border: 2px solid green;
	border-radius:5%;
	margin: 10px;
	height: 50px;
	width: 250px;
	background: transparent;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.login:hover{
	border: none;
	background:green;
	transition: 1s;
	color: white;
}

.search {
	border: 2px solid green;
	border-radius:5%;
	margin: 10px;
	height: 80px;
	width: 150px;
	background: transparent;
	color: black;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.search:hover{
	border: none;
	background:green;
	transition: 1s;
	color: white;
}

.input-group{
	width: 55%;
	float: left;
	margin-left: 1%;

	margin-top: 5%;
}

.input-group-append{
	width: 25%;
	float: right;

	margin-right: 2%;
}

.warning{
	color:red;
}

.about p{
	color: black;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	margin: 20px;
}

.about{
	background: white;
	width: auto;
	height: auto;
	border-radius: 40px;
}

.reci{
	color: white;
	text-align: center;
	width: 100%;
	font-size: 68px;
	font-weight: bold;
	text-shadow: black 0.1em 0.1em 0.2em;
}

span{
	background: green;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

button:hover span{
	width: 100%;
}

/*button:hover{*/
/*	border: none;*/
/*}*/

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: darkgreen;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-content_2{
	text-align: justify;
	white-space: pre-line;
}

.article-content_3{
	text-align: justify;

}

.title{
	text-align: justify;
	font-size: x-large;
	color: #333333;

}

.box{
	height: 300px;
	width: 400px;
}

.article-img {
    display: block;
	max-width: 150px;
	max-height: 140px;
	object-fit: cover;
	object-position: center;
}

.image{
	width: 35%;
	float: left;
	margin-left: 1%;
	margin-right: 2%;
	margin-top: 20%;
}

.text{
	width: 50%;
	float: right;
	margin-left: 2%;
	margin-right: 1%;
	margin-top: 5%;}


.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

footer{
	padding: 20px;
	background: green;
	text-align: center;
}

footer p{
	line-height: 20px;
	text-align: center;
	font-style: italic;

}

.hidden_form {
	display: none;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}